.hero {
    background: url(https://d19m59y37dris4.cloudfront.net/boutique/2-0/img/hero-banner-alt.3ea3fe2d.jpg);
    min-height: 30rem;
    background-position: center center !important;
    background-size: cover !important;
}

p {
    font-family: sans-serif;
    letter-spacing: 0.1em;
}