<footer class="bg-dark text-white">
  <div class="container">
    <div class="border-top py-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <p class="small text-muted mb-0">© 2024 All rights reserved.</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <p class="small text-muted mb-0">designed by <span class="text-white reset-anchor">Manish</span></p>
        </div>
      </div>
    </div>
  </div>
</footer>