.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 2rem;
    text-align: center;
}

.inc-btn,
.dec-btn {
    background: none;
    border: none;
    width: 1rem;
    outline: none;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
    }
}